<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/theme.min.css">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>

    <link rel="stylesheet" href="../fonts/feather/feather.min.css">
    <script src="../js/tinymce/tinymce.min.js"></script>
    <script>
    tinymce.init({
      selector: 'textarea',
      menubar: false,
      min_height: 150,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor textcolor',
        'searchreplace visualblocks code fullscreen autoresize',
        'insertdatetime media table paste code help wordcount'
      ],
      toolbar: 'formatselect | bold italic link image backcolor | alignleft aligncenter media | bullist numlist table | code fullscreen'
    });
     </script>
    <style>
    .mce-notification,.tox-notifications-container,.tox-statusbar,.mce-statusbar {display: none !important;}
    </style>
  </head>

  <body style="display: block;">


    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light">
      <div class="container-fluid">

                <!-- Toggler -->
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Brand -->
                <a class="navbar-brand" href="../" style="display: flex;">
                  <h2 style="display: contents;">Dashboard</h2>
                </a>

                <!-- User (xs) -->
                <div class="navbar-user d-md-none">

                  <!-- Dropdown -->
                  <div class="dropdown">

                    <!-- Toggle -->
                    <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>

                    <!-- Menu -->

                  </div>

                </div>

                <!-- Collapse -->
                <div class="navbar-collapse collapse" id="sidebarCollapse" style="">



                  <!-- Navigation -->
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="../admin" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="fe fe-home"></i> Home
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../posts/new" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="fe fe-edit-3"></i> New Post
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../editposts" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="fe fe-edit-2"></i> View All Posts
                      </a>
                    </li>

                    @if(auth)
                    <li class="nav-item">
                      <a class="nav-link" href="../auth/logout" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="fe fe-log-out"></i> Logout
                      </a>
                    </li>
                    @endif
                  </ul>

                </div> <!-- / .navbar-collapse -->

              </div>
    </nav>
    <div class="main-content bg-fixed-bottom ">




@!section('content')




<script src="../js/theme.min.js"></script>
<script src="../libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="../libs/select2/dist/js/select2.min.js"></script>
<script src="../libs/jquery/dist/jquery.min.js"></script>
<script src="../libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="../libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="../libs/list.js/dist/list.min.js"></script>
<script src="../libs/chart.js/dist/Chart.min.js"></script>
<script src="../libs/highlightjs/highlight.pack.min.js"></script>
<script src="../libs/quill/dist/quill.min.js"></script>
<script src="../libs/chart.js/Chart.extension.min.js"></script>
  </body>
</html>
