<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/theme.min.css">
    <link rel="stylesheet" href="../fonts/feather/feather.min.css">
    <style media="screen">
      .form-control {
        border: 1px solid #d2ddec;
        border-radius: .375rem;
      }
    </style>
  </head>



@!section('content')




  </body>
</html>
